
@{
    ViewBag.Title = "GopiApi";
}

<h2>Web Api</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div>
    <script>
        (function () {
            var cx = '006012117987817436520:jhcdgvzne2o';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:search></gcse:search>
</div>